@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" style="background-color: #3b8382; color: white" Size="Size.Large">

        <div>
            <a href="/">
                <MudImage Src="images/logoERS.png" Alt="Simone" style="height: 20%; max-width: 20%;" />
            </a>
        </div>

        <MudButton Href="/journeyproposal" StartIcon="@Icons.Material.Filled.AddCircleOutline" Class="white-text" Size="Size.Large">Proposer un voyage</MudButton>
        <MudButton Href="/journeylists" StartIcon="@Icons.Material.Filled.DirectionsCar" Class="white-text" Size="Size.Large">Mes trajets</MudButton>


        <MudMenu StartIcon="@Icons.Material.Filled.AccountCircle" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Inherit" Size="Size.Large">
            <MudMenuItem Href="/connection" style="color:#3b8382"> Se connecter</MudMenuItem>
            <MudMenuItem Href="/profilcreation" style="color:#3b8382">Créer un compte</MudMenuItem>

        </MudMenu>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>

    <feet>

        <MudContainer Fixed="true" Height="200px" Width="100%" Square="true" Class="mud-theme-primary" style="color:#054752; margin-top: 5em">
           <MudGrid >
              
                <MudItem sm="3">
                    <MudText Typo="Typo.h5" Style="margin:1em">Voyagez avec nous</MudText>


                </MudItem>
                <MudItem  sm="3">
                    <MudText Typo="Typo.h5" Style="margin:1em">Covoiturage</MudText>
 

                </MudItem>
                <MudItem  sm="3"  >
                    <p>   <MudText Typo="Typo.h5" Style="margin:1em">En savoir plus</MudText></p>
                    <p>  <MudLink Href="#" Class="white-text">En savoir plus</MudLink></p>
                    <p>  <MudLink Href="#" Class="white-text">Comment ça marche</MudLink></p>
                    <p>  <MudLink Href="#" Class="white-text">Qui sommes-nous ?</MudLink></p>
                    <p>  <MudLink Href="#" Class="white-text">Centre d'aide</MudLink></p>
                    <p>  <MudLink Href="#" Class="white-text">Presse</MudLink></p>
                  
                </MudItem>
               </MudGrid>
        </MudContainer>

        <a style="display: flex; align-items: center; justify-content: space-between; height">
            <div>
                <MudButton Variant="Variant.Text"> Transparence des plateformes</MudButton>
                <MudButton Variant="Variant.Text">Informations légales</MudButton>
                <MudButton Variant="Variant.Text">Paramètres des cookies</MudButton>
            </div>
            <MudImage Src="images/EVStext.png" Alt="Simone" style="height: 15%; max-width: 15%; float:right " />
        </a>
    </feet>
</MudLayout>

@code {

    private readonly MudTheme _currentTheme = new()
        {
            Palette = new PaletteLight
            {
                Primary = "#3b8382",
                Secondary = "#CC755E",
                Tertiary = "#ffffff",
            }
        };
}
