@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Elevation="1" style="background-color: #3b8382; color: white" Size="Size.Large">

		<div>
			<a href="/">
			<MudImage  Src="images/logoERS.png" Alt="Simone" style="height: 20%; max-width: 20%;" />
			</a>
		</div>

		<MudButton StartIcon="@Icons.Material.Filled.AddCircleOutline" Class="white-text" Size="Size.Large">Proposer un voyage</MudButton>
		<MudButton StartIcon="@Icons.Material.Filled.DirectionsCar" Class="white-text" Size="Size.Large">Mes trajets</MudButton>


		<MudMenu StartIcon="@Icons.Material.Filled.AccountCircle" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Inherit" Size="Size.Large">
			<MudMenuItem Href="/connection" style="color:#3b8382"> Se connecter</MudMenuItem>
			<MudMenuItem Href="/profilcreation" style="color:#3b8382">Créer un compte</MudMenuItem>

		</MudMenu>
	</MudAppBar>
	<MudMainContent class="pa-6 pt-16 mt-6">

		@Body
	</MudMainContent>
	<feet>

		<MudPaper Height="200px" Width="100%" Style="margin-top:5%">
			<MudContainer Fixed="true">
				<MudPaper Height="200px" Width="100%" Square="true" Class="mud-theme-primary" style="color:#054752">



				</MudPaper>
			</MudContainer>
		</MudPaper>

		<MudButton Variant="Variant.Text"> Transparence des plateformes</MudButton>
		<MudButton Variant="Variant.Text">Informations légales</MudButton>
		<MudButton Variant="Variant.Text">Paramètres des cookies</MudButton>
		<MudImage Src="images/EVStext.png" Alt="Simone" style="height: 15%; max-width: 15%; float:right " />
	</feet>
</MudLayout>

@code{

	private readonly MudTheme _currentTheme = new()
		{
			Palette = new PaletteLight
			{
				Primary = "#3b8382",
				Secondary = "#CC755E",
			}
		};
}
